

  <title>{% block title %}{% endblock title %} | ShopSmart</title>
  <link rel="icon" href="static/icon.png" type="image" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="static/css/loader.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/page.css">
  <link rel="stylesheet" href="static/css/item.css">
  <link rel="stylesheet" href="/css/dropdown.css">
  <script src="static/js/bootstrap.min.js"></script>

