body{
    background-color: lightgray !important;
}
#header{
    background-color: rgb(0, 0, 0);
}
caption{
    background-color: rgb(0, 0, 0) !important;
}
table{
    border-radius: 20% !important;
}
h1{
    font-weight: 200 !important;
}

#branding h1 {
    color: white;
}
div.breadcrumbs{
    background-color: rgba(90, 90, 90, 0.768);
    color: white;
}

.required{
  
    color: rgb(0, 0, 0) !important;
}

input[type="submit"] {
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: blueviolet;
    margin-top: 10px;
}
input[type="submit"]:hover{
    color: blueviolet;
    background-color: white;
    border-color: blueviolet;
}
.login .submit-row{
    color: white;
    border-radius: 20px;
    padding: 0% !important;
  
}